.line-container {
    display: flex;
    align-items: end;
}

.line-container::before {
    content: '';
    flex-grow: 0;
    flex-shrink: 0;
    border-bottom: 1px dotted gainsboro;
}

.line-container::after {
    content: '';
    flex-grow: 1;
    flex-shrink: 1;
    border-bottom: 1px dotted gainsboro;
}

.line-text {
    padding: 0 10px;
    background: gainsboro;
    /* Pozadie by malo zodpovedať farbe pozadia stránky */
    white-space: nowrap;
    /* Zabránenie zalomeniu textu */
}