.editor {
  width: 600px;
  border: solid 1px #ccc;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.edit-control {
  background-color: #e0e2ec;
  border-bottom: 1px solid black;
  height: 70px;
  color: gray;
  padding: 0 5px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.edit-control-text {
  font-size: 13px;
  color: dimgray;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}



.width0 {
  width: 0;
}

.radio-group {
  width: 100%;
}

.ff-type-text {
  color: blue;
  font-weight: bolder;
}

.ff-type-textarea {
  color: brown;
  font-weight: bolder;
}

.ff-type-select {
  color: green;
  font-weight: bolder;
}

.ff-type-number {
  color: orangered;
  font-weight: bolder;
}

.ff-type-date {
  color: olive;
  font-weight: bolder;
}

.ff-type-checkbox {
  color: slateblue;
  font-weight: bolder;
}

.ff-type-radio {
  color: seagreen;
  font-weight: bolder;
}

.ff-name {
  font-weight: bolder;
}

.editedControl {
  background-color: lightblue;
}

.ctl-type {
  border-bottom: 2px solid navy;
}