@if(editMode){
<mat-card-subtitle>
  <div class="ff-row ff-space-between">
    <mat-icon matTooltip="Cancel editing" (click)="cancelEdit()">cancel</mat-icon>
    <div>Editing form: {{config.formPath}}/{{formId}}.json</div>
    <div>
      <!-- <mat-icon matTooltip="Copy to clipboard" (click)="copyToClipboard()">content_copy</mat-icon> -->
      <mat-icon matTooltip="Save to json file" (click)="saveToFile()">save</mat-icon>

    </div>

  </div>
</mat-card-subtitle>
}
<div class="ff-container" [formGroup]="formGroup">
  @for (ctl of controls; track $index) {

  @if(editMode){
  <div [ngClass]="ctl.flex" class="edit-control" draggable="true" ondragstart="drag(event)" ondrop="drop(event)"
    ondragover="allowDrop(event)">
    <div class="fx-col">
      <div class="ff-row ff-space-between">
        <div class="edit-control-text">
          {{ctl.label}}
        </div>

        <div class="edit-control-text ff-name">
          {{ctl.name}}
        </div>


      </div>
      <div class="ff-row ff-space-between">
        <div class="edit-control-text" [ngClass]="'ff-type-' + ctl.type">
          {{ctl.type}}
        </div>

        <mat-icon matTooltip="Edit control properties" cdkOverlayOrigin #trigger="cdkOverlayOrigin"
          (click)="editCtrl(ctl);$event.stopPropagation()">
          edit
        </mat-icon>

        <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isEditOpen">
          @if(editedControl && ctl === editedControl){
          <div class="editor">
            <app-form-flow-control-editor [controlData]="editedControl"
              (onClose)="closeEditOverlay($event)"></app-form-flow-control-editor>
          </div>
          }
        </ng-template>


      </div>
      <div class="ff-row ff-gap-1em" style="margin: 3px;">
        <mat-icon (click)="move(ctl, 'left')" matTooltip="Move left">arrow_back</mat-icon>
        <mat-icon (click)="move(ctl, 'smaller')" matTooltip="Make smaller">remove_circle_outline</mat-icon>
        <mat-icon (click)="move(ctl, 'bigger')" matTooltip="Make bigger">add_circle_outline</mat-icon>
        <mat-icon (click)="move(ctl, 'right')" matTooltip="Move right">arrow_forward</mat-icon>
        <mat-icon (click)="ctl.isRequired = !ctl.isRequired" matTooltip="Set required">{{ctl.isRequired ?
          'radio_button_checked' :
          'radio_button_unchecked'}}</mat-icon>



      </div>
    </div>
  </div>
  }
  @else {
  @if(!ctl.isNonMatFormField){

  <!-- appearance: 'fill' | 'outline' -->
  <mat-form-field [ngClass]="ctl.flex" floatLabel="always" [appearance]="appearance" subscriptSizing="dynamic">
    @if(ctl.label){
    <mat-label>{{ctl.label}}</mat-label>

    }
    @switch(ctl.type){
    @case('textarea') {<textarea matInput [formControlName]="ctl.name"></textarea>}
    @case('select') {
    <mat-select [formControlName]="ctl.name">
      @for (item of ctl.values; track item) {
      <mat-option [value]="item.key">{{ item.label }}</mat-option>
      }
    </mat-select>
    }
    @case('multi-select') {
    <mat-select [formControlName]="ctl.name" multiple>
      @for (item of ctl.values; track item) {
      <mat-option [value]="item.key">{{ item.label }}</mat-option>
      }
    </mat-select>
    }
    @case('number') {
    <input matInput [formControlName]="ctl.name" type="number" class="ff-number">
    }
    @case('date') {
    <div class="ff-row ff-date">
      <input matInput [formControlName]="ctl.name" [matDatepicker]="datePicker">
      <mat-icon (click)="datePicker.open()">today</mat-icon>
      <!-- <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle> -->
      <mat-datepicker #datePicker></mat-datepicker>
    </div>
    }

    @case('checkbox') {
    <div class="ff-row">
      <input matInput readonly="true" [disabled]="formGroup.get(ctl.name)?.disabled">
      <mat-checkbox [formControlName]="ctl.name"></mat-checkbox>
      <!-- <mat-slide-toggle hideIcon="false" [formControlName]="ctl.name" [required]="ctl.isRequired"></mat-slide-toggle> -->
    </div>
    }

    @case('radio') {
    <div class="ff-row">
      <input matInput readonly="true" [disabled]="formGroup.get(ctl.name)?.disabled" class="width0">

      <mat-radio-group [formControlName]="ctl.name" [required]="ctl.isRequired" [required]="ctl.isRequired"
        class="ff-row ff-space-between radio-group">
        @for (item of ctl.values; track item) {

        <mat-radio-button style="flex: 1;" [value]="item.key">{{ item.label }}</mat-radio-button>
        }
      </mat-radio-group>
    </div>
    }
    @case('button-toggle') {
    <div class="ff-row ff-space-between">
      <input matInput readonly="true" [disabled]="formGroup.get(ctl.name)?.disabled" class="width0">
      <mat-button-toggle-group [formControlName]="ctl.name" [required]="ctl.isRequired" [required]="ctl.isRequired">
        @for (item of ctl.values; track item) {
        <mat-button-toggle [value]="item.key">{{ item.label }}</mat-button-toggle>
        }
      </mat-button-toggle-group>
    </div>
    }
    @case('button-toggle-multiple') {
      <div class="ff-row ff-space-between">
        <input matInput readonly="true" [disabled]="formGroup.get(ctl.name)?.disabled" class="width0">
        <mat-button-toggle-group multiple [formControlName]="ctl.name" [required]="ctl.isRequired" [required]="ctl.isRequired">
          @for (item of ctl.values; track item) {
          <mat-button-toggle [value]="item.key">{{ item.label }}</mat-button-toggle>
          }
        </mat-button-toggle-group>
      </div>
      }


    @default {
    <input matInput [formControlName]="ctl.name">}
    }

    @if(ctl.hintStart){
    <mat-hint>{{ctl.hintStart}}</mat-hint>
    }
    @if(ctl.hintEnd){
    <mat-hint align="end">{{ctl.hintEnd}}</mat-hint>
    }

    @if (formGroup.controls[ctl.name].hasError('required')) {
    <mat-error>{{ctl.label}} je <strong>povinný</strong></mat-error>
    }

    @if (formGroup.controls[ctl.name].hasError('min')) {
    <mat-error>{{ctl.label}} musí byť najmenej {{ctl.min}}</mat-error>
    }

    @if (formGroup.controls[ctl.name].hasError('max')) {
    <mat-error>{{ctl.label}} musí byť najviac {{ctl.max}}</mat-error>
    }

    @if (formGroup.controls[ctl.name].hasError('minlength')) {
    <mat-error>{{ctl.label}} musí mať najmenej {{ctl.minLength}} znakov</mat-error>
    }

    @if (formGroup.controls[ctl.name].hasError('maxlength')) {
    <mat-error>{{ctl.label}} musí mať najviac {{ctl.maxLength}} znakov</mat-error>
    }




  </mat-form-field>
  }
  @else(){

  @switch(ctl.type){
  @case('space') {
  <div [ngClass]="ctl.flex"></div>
  }

  @case('divider') {

  <mat-divider [ngClass]="ctl.flex"></mat-divider>
  }



  }
  }

  }
  <!-- <pre>
    {{formGroup.controls[ctl.name].errors | json}}
  </pre> -->
  }
</div>