.editor {
    width: 400px;
    border: solid 1px #ccc;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 10px;
    margin: 0;
  }

  .edit-control{
    background-color: bisque;
    border: 1px solid goldenrod;
    height: 76px;
  }


  