<div class="ff-container" [formGroup]="formGroup">
  @for (ctl of controls; track $index) {

  @if(editMode){
  <div [ngClass]="ctl.flex" class="edit-control" draggable="true" ondragstart="drag(event)" ondrop="drop(event)"
    ondragover="allowDrop(event)">
    <div class="fx-col">
      <div class="ff-row ff-space-between">
        <div class="edit-control-text">
          {{ctl.label}}
        </div>

        <div class="edit-control-text">
          {{ctl.name}}
        </div>


      </div>
      <div class="ff-row ff-space-between">
        <div class="edit-control-text">
          {{ctl.type}}
        </div>

        <mat-icon cdkOverlayOrigin #trigger="cdkOverlayOrigin"
          (click)="editCtrl(ctl);$event.stopPropagation()">
          edit
        </mat-icon>

        <ng-template cdkConnectedOverlay 
        [cdkConnectedOverlayOrigin]="trigger" 
        [cdkConnectedOverlayOpen]="isEditOpen">
          @if(editedControl && ctl === editedControl){
          <div class="editor">
            <app-form-flow-control-editor [controlData]="editedControl" (onClose)="closeEditOverlay($event)"></app-form-flow-control-editor>
          </div>
          }
        </ng-template>


      </div>
      <div class="ff-row ff-gap-1em" style="margin: 3px;">
        <mat-icon (click)="move(ctl, 'left')">arrow_back</mat-icon>
        <mat-icon (click)="move(ctl, 'smaller')">remove_circle_outline</mat-icon>
        <mat-icon (click)="move(ctl, 'bigger')">add_circle_outline</mat-icon>
        <mat-icon (click)="move(ctl, 'right')">arrow_forward</mat-icon>

      </div>
    </div>
  </div>
  }
  @else {
  @if(!ctl.isNonMatFormField){

  <!-- appearance: 'fill' | 'outline' -->
  <mat-form-field [ngClass]="ctl.flex" class="example-box" floatLabel="always" appearance="fill"
    subscriptSizing="fixed">
    @if(ctl.label){
    <mat-label>{{ctl.label}}</mat-label>

    }
    @switch(ctl.type){
    @case('textarea') {<textarea matInput [formControlName]="ctl.name"></textarea>}
    @case('select') {
    <mat-select [formControlName]="ctl.name">
      @for (item of ctl.values; track item) {
      <mat-option [value]="item.key">{{ item.label }}</mat-option>
      }
    </mat-select>
    }
    @case('number') {
    <input matInput [formControlName]="ctl.name" type="number" class="ff-number">
    }
    @case('date') {
    <div class="ff-row ff-date">
      <input matInput [formControlName]="ctl.name" [matDatepicker]="datePicker">
      <mat-icon (click)="datePicker.open()">today</mat-icon>
      <!-- <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle> -->
      <mat-datepicker #datePicker></mat-datepicker>
    </div>
    }
    @case('space') {
    <input matInput style="display: none;" readonly="true">
    }

    @case('checkbox') {
    <div class="ff-row">
      <input matInput readonly="true" [disabled]="formGroup.get(ctl.name)?.disabled">

      <!-- <mat-checkbox [formControlName]="ctl.name"></mat-checkbox> -->
      <mat-slide-toggle hideIcon="false" [formControlName]="ctl.name" [required]="ctl.isRequired"></mat-slide-toggle>


    </div>
    }


    @default {
    <input matInput [formControlName]="ctl.name">}
    }

    @if(ctl.hintStart){
    <mat-hint>{{ctl.hintStart}}</mat-hint>
    }
    @if(ctl.hintEnd){
    <mat-hint align="end">{{ctl.hintEnd}}</mat-hint>
    }

    @if (formGroup.controls[ctl.name].hasError('required')) {
    <mat-error>{{ctl.label}} je <strong>povinný</strong></mat-error>
    }

    @if (formGroup.controls[ctl.name].hasError('min')) {
    <mat-error>{{ctl.label}} musí byť najmenej {{ctl.min}}</mat-error>
    }

    @if (formGroup.controls[ctl.name].hasError('max')) {
    <mat-error>{{ctl.label}} musí byť najviac {{ctl.max}}</mat-error>
    }

    @if (formGroup.controls[ctl.name].hasError('minlength')) {
    <mat-error>{{ctl.label}} musí mať najmenej {{ctl.minLength}} znakov</mat-error>
    }

    @if (formGroup.controls[ctl.name].hasError('maxlength')) {
    <mat-error>{{ctl.label}} musí mať najviac {{ctl.maxLength}} znakov</mat-error>
    }




  </mat-form-field>
  }
  @else(){

  @switch(ctl.type){
  @case('space') {
  <div [ngClass]="ctl.flex"></div>
  }
  }
  }

  }
  <!-- <pre>
    {{formGroup.controls[ctl.name].errors | json}}
  </pre> -->
  }
</div>