@if(allowEditMode){
<mat-card-subtitle>
  <div class="ff-row ff-space-between">
    <mat-slide-toggle [(ngModel)]="editMode">Edit mode</mat-slide-toggle>

    @if(editMode){
    <mat-icon matTooltip="Save to json file" (click)="saveToFile()">save</mat-icon>
    <mat-icon matTooltip="Add new control after selected" (click)="addNewCtl()">add</mat-icon>
    <mat-icon matTooltip="Remove selected control" (click)="removeSelectedCtl()">delete</mat-icon>
    }
    <mat-slide-toggle (toggleChange)="changeAppearance()">{{appearance}}</mat-slide-toggle>

  </div>
  <mat-card-subtitle>
    <small>Editing form: {{config.apiFullFormPath}}/{{formId}}.json</small>
  </mat-card-subtitle>
</mat-card-subtitle>
}
<div class="ff-container" [formGroup]="formGroup">
  @for (ctl of controls; track $index) {

  @if(editMode){
  <div [ngClass]="{'editedControl': ctl === editedControl}" class="{{ctl.flex}} edit-control">
    <div class="fx-col">
      <div class="ff-row ff-space-between">
        <div class="edit-control-text">
          {{ctl.label}}
        </div>

        <div class="edit-control-text ff-name">
          {{ctl.name}}
        </div>


      </div>
      <div class="ff-row ff-space-between">
        <div class="edit-control-text ctl-type" [ngClass]="'ff-type-' + ctl.type" (click)="editedControl=ctl">
          {{ctl.type}}
        </div>

        <mat-icon matTooltip="Edit control properties" cdkOverlayOrigin #trigger="cdkOverlayOrigin"
          (click)="editCtrl(ctl);$event.stopPropagation()">
          edit
        </mat-icon>

        <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
          [cdkConnectedOverlayOpen]="isEditorOpened">
          @if(editedControl && ctl === editedControl){
          <div class="editor">
            <app-form-flow-control-editor [controlData]="editedControl"
              (onClose)="closeEditOverlay($event)"></app-form-flow-control-editor>
          </div>
          }
        </ng-template>


      </div>
      <div class="ff-row ff-gap-1em" style="margin: 3px;">
        <mat-icon (click)="move(ctl, 'left')" matTooltip="Move left">arrow_back</mat-icon>
        <mat-icon (click)="move(ctl, 'smaller')" matTooltip="Make smaller">remove_circle_outline</mat-icon>
        <mat-icon (click)="move(ctl, 'bigger')" matTooltip="Make bigger">add_circle_outline</mat-icon>
        <mat-icon (click)="move(ctl, 'right')" matTooltip="Move right">arrow_forward</mat-icon>
        <mat-icon (click)="ctl.isRequired = !ctl.isRequired" matTooltip="Set required">{{ctl.isRequired ?
          'radio_button_checked' :
          'radio_button_unchecked'}}</mat-icon>



      </div>
    </div>
  </div>
  }
  @else {
  @if(!ctl.isNonMatFormField){

  <!-- appearance: 'fill' | 'outline' -->
  <mat-form-field [ngClass]="ctl.flex" floatLabel="always" [appearance]="appearance" subscriptSizing="dynamic">
    @if(ctl.label){
    <mat-label>{{ctl.label}}</mat-label>

    }
    @switch(ctl.type){
    @case('textarea') {<textarea matInput [formControlName]="ctl.name"></textarea>}
    @case('select') {
    <mat-select [formControlName]="ctl.name">
      @for (item of ctl.values; track item) {
      <mat-option [value]="item.key">{{ item.label }}</mat-option>
      }
    </mat-select>
    }
    @case('multi-select') {
    <mat-select [formControlName]="ctl.name" multiple>
      @for (item of ctl.values; track item) {
      <mat-option [value]="item.key">{{ item.label }}</mat-option>
      }
    </mat-select>
    }
    @case('number') {
    <input matInput [formControlName]="ctl.name" type="number" class="ff-number">
    }
    @case('date') {
    <div class="ff-row ff-date">
      <input matInput [formControlName]="ctl.name" [matDatepicker]="datePicker">
      <mat-icon (click)="datePicker.open()">today</mat-icon>
      <!-- <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle> -->
      <mat-datepicker #datePicker></mat-datepicker>
    </div>
    }

    @case('checkbox') {
    <div class="ff-row">
      <input matInput readonly="true" [disabled]="formGroup.get(ctl.name)?.disabled">
      <mat-checkbox [formControlName]="ctl.name"></mat-checkbox>
      <!-- <mat-slide-toggle hideIcon="false" [formControlName]="ctl.name" [required]="ctl.isRequired"></mat-slide-toggle> -->
    </div>
    }

    @case('slide') {
    <div class="ff-row">
      <input matInput readonly="true" [disabled]="formGroup.get(ctl.name)?.disabled">
      <mat-slide-toggle hideIcon="false" [formControlName]="ctl.name" [required]="ctl.isRequired"></mat-slide-toggle>
    </div>
    }

    @case('radio') {
    <div class="ff-row">
      <input matInput readonly="true" [disabled]="formGroup.get(ctl.name)?.disabled" class="width0">

      <mat-radio-group [formControlName]="ctl.name" [required]="ctl.isRequired" [required]="ctl.isRequired"
        class="ff-row ff-space-between radio-group">
        @for (item of ctl.values; track item) {

        <mat-radio-button style="flex: 1;" [value]="item.key">{{ item.label }}</mat-radio-button>
        }
      </mat-radio-group>
    </div>
    }
    @case('button-toggle') {
    <div class="ff-row ff-space-between">
      <input matInput readonly="true" [disabled]="formGroup.get(ctl.name)?.disabled" class="width0">
      <mat-button-toggle-group [formControlName]="ctl.name" [required]="ctl.isRequired" [required]="ctl.isRequired">
        @for (item of ctl.values; track item) {
        <mat-button-toggle [value]="item.key">{{ item.label }}</mat-button-toggle>
        }
      </mat-button-toggle-group>
    </div>
    }
    @case('button-toggle-multiple') {
    <div class="ff-row ff-space-between">
      <input matInput readonly="true" [disabled]="formGroup.get(ctl.name)?.disabled" class="width0">
      <mat-button-toggle-group multiple [formControlName]="ctl.name" [required]="ctl.isRequired"
        [required]="ctl.isRequired">
        @for (item of ctl.values; track item) {
        <mat-button-toggle [value]="item.key">{{ item.label }}</mat-button-toggle>
        }
      </mat-button-toggle-group>
    </div>
    }

    @case('autocomplete') {
    <div class="ff-row ff-space-between">
      <input #acInput type="text" matInput [formControlName]="ctl.name" 
      #trigger="matAutocompleteTrigger" [matAutocomplete]="auto" (blur)="acLostFocus(ctl, acInput)">
      @if(formGroup.get(ctl.name)?.value){
      <button mat-icon-button matSuffix (click)="$event.stopPropagation();acClearApiInput(ctl, acInput)">
        <mat-icon>close</mat-icon>
      </button>
      }
      <!-- <button mat-icon-button matSuffix (click)="openApiList(trigger, ctl.name); $event.stopPropagation()">
        <mat-icon>arrow_drop_down</mat-icon>
      </button> -->
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        @for (option of filteredOptions[ctl.name] | async; track option) {
        <mat-option [value]="option">{{option.label}}</mat-option>
        }
      </mat-autocomplete>
    </div>
    }

    @case('chips'){
    <mat-chip-grid #chipGrid [disabled]="formGroup.get(ctl.name)!.disabled">
      @for (item of ctl.values; track item) {
      <mat-chip-row (removed)="chipRemove(ctl, item)">
        {{item.label}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      }
    </mat-chip-grid>
    <div class="ff-row ff-space-between">
      <input #chipInput [formControlName]="ctl.name" #trigger="matAutocompleteTrigger" [matChipInputFor]="chipGrid"
        [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="chipSeparatorKeysCodes"
        (matChipInputTokenEnd)="chipAdd($event, ctl)" (blur)="chipLostFocus(ctl, chipInput)" 
        />
      <!-- @if(ctl.lastFilter !== '-'){
      <button mat-icon-button matSuffix (click)="chipClearApiInput(ctl, chipInput, trigger, chipGrid)">
        <mat-icon>close</mat-icon>
      </button>
      } -->

      <!-- <button mat-icon-button matSuffix (click)="openApiList(trigger, ctl.name); $event.stopPropagation()">
        <mat-icon>arrow_drop_down</mat-icon>
      </button> -->
    </div>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="chipSelected($event, ctl, chipInput);">
      @for (option of filteredOptions[ctl.name] | async; track option) {
      <mat-option [value]="option">{{option.label}}</mat-option>
      }
    </mat-autocomplete>
    }


    @default {
    <input matInput [formControlName]="ctl.name">}
    }

    @if(ctl.hintStart){
    <mat-hint>{{ctl.hintStart}}</mat-hint>
    }
    @if(ctl.hintEnd){
    <mat-hint align="end">{{ctl.hintEnd}}</mat-hint>
    }

    @if (formGroup.controls[ctl.name].hasError('required')) {
    <mat-error>{{ctl.label}} je <strong>povinný</strong></mat-error>
    }

    @if (formGroup.controls[ctl.name].hasError('min')) {
    <mat-error>{{ctl.label}} musí byť najmenej {{ctl.min}}</mat-error>
    }

    @if (formGroup.controls[ctl.name].hasError('max')) {
    <mat-error>{{ctl.label}} musí byť najviac {{ctl.max}}</mat-error>
    }

    @if (formGroup.controls[ctl.name].hasError('minlength')) {
    <mat-error>{{ctl.label}} musí mať najmenej {{ctl.minLength}} znakov</mat-error>
    }

    @if (formGroup.controls[ctl.name].hasError('maxlength')) {
    <mat-error>{{ctl.label}} musí mať najviac {{ctl.maxLength}} znakov</mat-error>
    }




  </mat-form-field>
  }
  @else(){

  @switch(ctl.type){
  @case('space') {
  <div [ngClass]="ctl.flex"></div>
  }

  @case('divider') {

  <mat-divider [ngClass]="ctl.flex"></mat-divider>
  }



  }
  }

  }
  <!-- <pre>
    {{formGroup.controls[ctl.name].errors | json}}
  </pre> -->
  }
</div>