.items-container {
  overflow-y: hidden;
  height: 800px;
  width: 1600px;
}

.virtual-viewport {
  height: 500px;
  /* width: 800px; */
  padding: 10px;
  background-color: white;
}

.ff-item {
  padding: 5px 10px;
  border-bottom: 1px lightgray solid;
  align-items: center;
  /* background-color: red; */
}

.item-selected {
  background-color: whitesmoke;
}

.item-gray {
  color: lightgray;
}

.item-buttons {
  flex: 0 0 50px;
  /* Fixná šírka 50px */
  padding: 0 10px;
  /* Priestor okolo ikon */
  align-items: center;
  /* Zarovnajte ikony vertikálne na stred */
}

.item-content {
  flex: 1;
  /* Automaticky natiahne zvyšný priestor */
}