<mat-toolbar class="mat-primary-background mat-elevation-z6">
    <span class="mat-primary-color">Dynamic form with items example</span>
</mat-toolbar>

<div>
    <cdk-virtual-scroll-viewport itemSize="50" class="virtual-viewport">
        <ng-container *cdkVirtualFor="let item of items">

            <div class="ff-row ff-item-container" [ngClass]="{'item-selected': item.id === selectedId, 'item-gray': editId}">

                <div class="item-content">
                    @if(item.id === editId){
                    <div>

                        <app-form-flow-content [formGroup]="formGroup" [formId]="formIdItemsSample"
                            [controls]="ctlsItemsSample" [allowEditMode]="allowEditMode" [appearance]="appearance" />
                    </div>



                    }
                    @else {
                    <div class="ff-col"
                        (click)="setSelected(item.id)">
                        <div class="ff-row ff-space-between">
                            <div>{{item.id}}</div>
                            <div>{{item.name}}</div>
                        </div>
                        <div class="example-item ff-row ff-space-between">
                            <div>{{item.age}}</div>
                            <div>{{item.date}}</div>
                        </div>
                    </div>
                    }
                </div>
                <div class="item-buttons">
                    @if(item.id === editId){
                    <button mat-icon-button (click)="saveEdit(item.id, item)">
                        <mat-icon>save</mat-icon>
                    </button>
                    <button mat-icon-button (click)="cancelEdit(item.id, item)">
                        <mat-icon>close</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteItem(item.id, item)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    } @else {
                    @if( !editId ){
                    <button mat-icon-button (click)="startEdit(item.id, item)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    }
                    }

                </div>
            </div>
        </ng-container>
    </cdk-virtual-scroll-viewport>
</div>