<p>4 stlpce</p>
<div class="ff-container">
    @for (item of items4; track $index) {

    <div [ngClass]="item.span">
        {{ item.content }} ({{item.span}})
    </div>
    }
</div>

<br>
<p>
</p>

<p>3 stlpce</p>
<div class="ff-container">
    @for (item of items3; track $index) {

    <div [ngClass]="item.span">
        {{ item.content }} ({{item.span}})
    </div>
    }
</div>

<p>2 stlpce</p>

<div class="ff-container">
    @for (item of items2; track $index) {

    <div [ngClass]="item.span">
        {{ item.content }} ({{item.span}})
    </div>
    }
</div>

