<form [formGroup]="formGroup" novalidate (ngSubmit)="onSubmit()">

  <mat-card class="main-card">
    <mat-card-content>
      <mat-card-header>
        <mat-card-title>Shipping Information</mat-card-title>
      </mat-card-header>

      <app-form-flow-content [formGroup]="formGroup" [controls]="controls1" />

    </mat-card-content>
  </mat-card>


  <mat-card class="main-card">
    <mat-card-content>
      <mat-card-header>
        <mat-card-title>Car info</mat-card-title>
      </mat-card-header>

      <app-form-flow-content [formGroup]="formGroup" [controls]="controls2" />

    </mat-card-content>
  </mat-card>

  <mat-card-actions>
    <button mat-raised-button (click)="enable(true)">Enable</button>
    <button mat-raised-button (click)="enable(false)">Disable</button>
  </mat-card-actions>

</form>


<pre>
  {{formGroup.value | json}}
</pre>


<pre>
  {{controls1 | json}}
</pre>