<mat-toolbar color="primary" class="mat-elevation-z6">
  <span class="mat-mdc-card-title">title</span>
</mat-toolbar>
@if(formGroup){

<form [formGroup]="formGroup" novalidate (ngSubmit)="onSubmit()">

  <mat-card class="main-card">
    <mat-card-content>
      <mat-card-header>
        <mat-card-subtitle>Shipping Information</mat-card-subtitle>
      </mat-card-header>

      <app-form-flow-content [formGroup]="formGroup" [formId]="formIdShipping" [controls]="ctlsShipping"
        [allowEditMode]="allowEditMode" />

    </mat-card-content>
  </mat-card>


  <mat-card class="main-card">
    <mat-card-content>
      <mat-card-header>
        <mat-card-subtitle>Car info</mat-card-subtitle>
      </mat-card-header>

      <app-form-flow-content [formGroup]="formGroup" [formId]="formIdCarInfo" [controls]="ctlsCarInf"
        [allowEditMode]="allowEditMode" />

    </mat-card-content>
  </mat-card>

  <div class="ff-row ff-space-around">
    <button mat-flat-button (click)="enable(true)">Enable</button>
    <button mat-raised-button (click)="enable(false)">Disable</button>
    <button mat-raised-button (click)="loadData()">Load sample data</button>

  </div>

</form>


<pre>
  {{formGroup.value | json}}
</pre>

}