<mat-toolbar class="mat-primary-background mat-elevation-z6">
  <span class="mat-primary-color">Dynamic form example</span>
</mat-toolbar>
@if(formGroup){

<form [formGroup]="formGroup" novalidate (ngSubmit)="onSubmit()">

  <mat-card class="main-card">
    <mat-card-content>
      <span class="mat-h3 mat-text-color">Shipping Information</span>

      <app-form-flow-content [formGroup]="formGroup" [formId]="formIdShipping" [controls]="ctlsShipping"
        [allowEditMode]="allowEditMode" [appearance]="appearance" />

    </mat-card-content>
  </mat-card>


  <mat-card class="main-card">
    <mat-card-content>
      <span class="mat-h3 mat-text-color">Car info</span>

      <app-form-flow-content [formGroup]="formGroup" [formId]="formIdCarInfo" [controls]="ctlsCarInf"
        [allowEditMode]="allowEditMode" [appearance]="appearance" />

    </mat-card-content>
  </mat-card>

  <div class="ff-row ff-space-around">
    <button mat-flat-button (click)="enable(true)">Enable</button>
    <button mat-raised-button (click)="enable(false)">Disable</button>
    <button mat-raised-button (click)="loadData()">Load sample api data</button>
    <button mat-raised-button (click)="clearData()">Clear data</button>
    <mat-slide-toggle [(ngModel)]="allowEditMode" [ngModelOptions]="{standalone: true}">Allow edit</mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="useOutline" [ngModelOptions]="{standalone: true}"
      (change)="appearanceChanged($event)">Outline</mat-slide-toggle>

  </div>

</form>


<pre class="mat-text-color">
  {{formGroup.value | json}}
</pre>

}