@use "@angular/material" as mat;
@use "@angular/material-experimental" as matx;

// need this for typography
$my-typography: mat.define-typography-config();
@include mat.typography-hierarchy($my-typography);

$theme-type: light;

$theme: matx.define-theme(
  (
    color: (
      theme-type: $theme-type,
      primary: matx.$m3-cyan-palette,
      // secondary: matx.$m3-orange-palette,
      tertiary: matx.$m3-magenta-palette
    ),
    density: (
      scale: -1
    )
  )
);

@include mat.core();
@include matx.color-variants-back-compat($theme);

:root {
  @include mat.all-component-themes($theme);
}

.mat-text-color {
  color: var(--mat-app-text-color);
}

body {
  margin: 0;
}

// $m3-red-palette
// $m3-green-palette
// $m3-blue-palette
// $m3-yellow-palette
// $m3-cyan-palette
// $m3-magenta-palette
// $m3-orange-palette
// $m3-chartreuse-palette
// $m3-azure-palette
// $m3-violet-palette
// $m3-rose-palette
