@use "@angular/material" as mat;
@use "@angular/material-experimental" as matx;

// need this for typography
$my-typography: mat.define-typography-config();
@include mat.typography-hierarchy($my-typography);

$light-theme: matx.define-theme((color: (theme-type: light,
primary: matx.$m3-chartreuse-palette)));
$dark-theme: matx.define-theme((color: (theme-type: dark,
        primary: matx.$m3-chartreuse-palette)));


// $light-theme: matx.define-theme((color: (theme-type: dark,
//         primary: matx.$m3-azure-palette,
//         tertiary: matx.$m3-blue-palette ),
//       density: (scale: -1)));

html {
  // Apply the base theme at the root, so it will be inherited by the whole app.
  @include mat.all-component-themes($dark-theme);
}

// $m3-red-palette
// $m3-green-palette
// $m3-blue-palette
// $m3-yellow-palette
// $m3-cyan-palette
// $m3-magenta-palette
// $m3-orange-palette
// $m3-chartreuse-palette
// $m3-azure-palette
// $m3-violet-palette
// $m3-rose-palette