html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-container {
    max-width: 800px; /* Nastavte šírku aplikácie */
    margin: 0 auto; /* Umiestnite na stred displeja */

}

